.notification{
    position: fixed;
    top: 80px;
    right: 20px;
    max-width: 200px;
    z-index: 999;
    background-color: green;
    color: #fff;
    padding: 20px;
    display: inline-block;
    max-width: 200px;
    font-size: 0.75em;
    margin-bottom: 10px;
}

.notification.fade-out{
    opacity: 0;
    right: -500px;
    transition: right .4s ease-out, opacity .2s;
}